.container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

fieldset {
  width: 30%;
  padding: 20px;
}

fieldset div {
  margin: 10px;
}

div button {
  width: 40%;
  margin: 5px;
}

legend {
  text-align: center;
}

label {
  display: inline-block;
  width: 30%;
}